@import "../../constants/constatns.scss";

.welcome {
    margin: auto;
    max-width: 742px;

    &-title {
        margin-top: 165px;
    }

    &-title-text {
        color: $light-blue-color;
    }

    &-description {
        margin-top: 19px;
        color: $light-black-color;
        font-weight: 600;
    }
}
@media screen and (max-width: 1000px) {
    .welcome-title {
        margin-top: 70px;
    }
}