@import "../../constants/constatns.scss";

.navigation-line {
  width: 100%;
  max-width: 427px;

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-link {
    font-weight: 400;
    font-size: 16px;
  }

  &-item {
    position: relative;
  }
}

.line-under-link {
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 3px;
  opacity: 0;
  background: $yellow-gradient;
  border-radius: 32px;
}