@import "../../constants/constatns.scss";

.initial-page {
  height: 848px;
  position: relative;
  color: #ffffff;

  &-content {
    margin-top: 80px;
    max-width: 754px;
  }

  &-text {
    margin-top: 22px;
  }

  &-btn {
    background-color: #ffffff;
    margin-top: 42px;
  }

  &-btn-link {
    color: $light-black-color;
  }
}

.initial-page-overlay {
  &-list-1 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }

  &-list-2 {
    position: absolute;
    width: 100%;
    height: 900px;
    right: -333px;
    transform: rotate(-65deg);
  }

  &-1 {
    width: 100%;
    background: linear-gradient(-76deg, transparent 200px, #56ccf2 0);
    height: 100%;
  }

  &-2 {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #56ccf2;
    opacity: 0.5;
    border-radius: 500px;
    width: 100vw;
    height: 285.23px;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 848px 454px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 0;
  top: 25px;
}

@media screen and (max-width: 1000px) {
  .initial-page {
    height: auto;
    padding-bottom: 100px;
  }
  .triangle {
    display: none;
  }

  .initial-page-overlay {
    &-list-2 {
      display: none;
    }

    &-1 {
      background-color: $light-blue-color;
    }
  }
}
